{% extends "layout.html" %}
{% block body %}
<h1>Calculation History</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">User</th>
        <th scope="col">Calculation time</th>
        <th scope="col">The 1st Number</th>
        <th scope="col">The 2nd Number</th>
        <th scope="col">Operation</th>
        <th scope="col">Result</th>
    </tr>
    {% for h in his %}
    <tr>
        <td>{{h[0]}}</td>
        <td>{{h[1]}}</td>
        <td>{{h[2]}}</td>
        <td>{{h[3]}}</td>
        <td>{{h[4]}}</td>
        <td>{{h[5]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}